Repository isejalabs/homelab, changes with the labels that .github/labeler.yml gives for each.
All labels: env:base, env:head, env:qa, env:dev, env:src, env:poc, env:rebuild, env:prod, env:debug

.github/labeler.yml:

# vim:sw=2:ts=2:expandtab:ai
---
# Environment
"env:base":
  - changed-files:
      - any-glob-to-any-file:
        - "k8s/**/base/**"
"env:head":
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/**/envs/head/**"
        - "terragrunt/*/*/head/**"
"env:qa":
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/**/envs/qa/**"
        - "terragrunt/*/*/qa/**"
"env:dev":
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/**/envs/dev/**"
        - "terragrunt/*/*/dev/**"
"env:src":
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/**/envs/src/**"
        - "terragrunt/*/*/src/**"
"env:poc":
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/**/envs/poc/**"
        - "terragrunt/*/*/poc/**"
"env:rebuild":
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/**/envs/rebuild/**"
        - "terragrunt/*/*/rebuild/**"
"env:prod":
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/**/envs/prod/**"
        - "terragrunt/*/*/prod/**"
"env:debug":
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/**/envs/debug/**"
        - "terragrunt/*/*/debug/**"

fix(rebuild/vehagn-k8s): increased RAM to 2176 MB
  terragrunt/_envcommon/vehagn-k8s.hcl
  terragrunt/non-prod/eu-central-1/rebuild/vehagn-k8s/.terraform.lock.hcl
Labels: env:rebuild

feat(env:poc): adapted to general setup and enabled cilium config.
  k8s/core/network/cilium/envs/poc/additional-values.yaml
  k8s/core/network/cilium/envs/poc/bgp-cluster-config.yaml
  k8s/core/network/cilium/envs/poc/ip-pool-bgp.yaml
  k8s/core/network/cilium/envs/poc/kustomization.yaml
  k8s/core/network/cilium/envs/poc/values.yaml
  terragrunt/non-prod/eu-central-1/poc/vehagn-k8s/.terraform.lock.hcl
  terragrunt/non-prod/eu-central-1/poc/vehagn-k8s/terragrunt.hcl
Labels: env:poc

chore(deps): update Talos version to v1.10.6 across all environments consistently
  terragrunt/non-prod/eu-central-1/dbg/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/dev/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/head/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/qa/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/src/vehagn-k8s/terragrunt.hcl
  terragrunt/prod/eu-central-1/prod/vehagn-k8s/terragrunt.hcl
Labels: env:head, env:qa, env:dev, env:src, env:prod

feat(dbg/gateway): enabled gateway component initially
  k8s/core/network/gateway/envs/dbg/kustomization.yaml
Labels: none

fix(cilium): update apiVersion from v2alpha1 to v2 in BGP configuration files
  k8s/core/network/cilium/base/bgp-advertisement.yaml
  k8s/core/network/cilium/base/bgp-peer-config.yaml
  k8s/core/network/cilium/envs/dbg/bgp-cluster-config.yaml
  k8s/core/network/cilium/envs/dev/bgp-cluster-config.yaml
  k8s/core/network/cilium/envs/head/bgp-cluster-config.yaml
  k8s/core/network/cilium/envs/poc/bgp-cluster-config.yaml
  k8s/core/network/cilium/envs/prod/bgp-cluster-config.yaml
  k8s/core/network/cilium/envs/qa/bgp-cluster-config.yaml
  k8s/core/network/cilium/envs/rebuild/bgp-cluster-config.yaml
  k8s/core/network/cilium/envs/src/bgp-cluster-config.yaml
Labels: env:base, env:head, env:qa, env:dev, env:src, env:poc, env:rebuild, env:prod

fix(vehagn-k8s): rectify disk_size for ctrl-{02,03}
  terragrunt/non-prod/eu-central-1/dbg/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/dev/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/head/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/poc/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/rebuild/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/src/vehagn-k8s/terragrunt.hcl
Labels: env:head, env:dev, env:src, env:poc, env:rebuild

fix(vehagn-k8s): reduce work_ram to 2048
  terragrunt/_envcommon/vehagn-k8s.hcl
Labels: none

feat(vehagn-k8s): en-/disable ctrl-02 in some environments
  terragrunt/non-prod/eu-central-1/head/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/poc/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/src/vehagn-k8s/terragrunt.hcl
Labels: env:head, env:src, env:poc

fix(vehagn-k8s): rectify disk_size for ctrl-{02,03}
  terragrunt/non-prod/eu-central-1/dbg/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/dev/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/head/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/poc/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/rebuild/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/src/vehagn-k8s/terragrunt.hcl
Labels: env:head, env:dev, env:src, env:poc, env:rebuild

fix(vehagn-k8s): reduce work_ram to 2048
  terragrunt/_envcommon/vehagn-k8s.hcl
Labels: none

feat(vehagn-k8s): en-/disable ctrl-02 in some environments
  terragrunt/non-prod/eu-central-1/head/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/poc/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/src/vehagn-k8s/terragrunt.hcl
Labels: env:head, env:src, env:poc

feat(tg-state-rm): remove all states except Proxmox
  scripts/tg-state-rm.sh
Labels: none

feat(whoami): add remaining environments
  k8s/apps/diag/whoami/envs/dbg/deployment.yaml
  k8s/apps/diag/whoami/envs/dbg/kustomization.yaml
  k8s/apps/diag/whoami/envs/dbg/svc.yaml
  k8s/apps/diag/whoami/envs/head/deployment.yaml
  k8s/apps/diag/whoami/envs/head/kustomization.yaml
  k8s/apps/diag/whoami/envs/head/svc.yaml
  k8s/apps/diag/whoami/envs/poc/deployment.yaml
  k8s/apps/diag/whoami/envs/poc/kustomization.yaml
  k8s/apps/diag/whoami/envs/poc/svc.yaml
  k8s/apps/diag/whoami/envs/prod/deployment.yaml
  k8s/apps/diag/whoami/envs/prod/kustomization.yaml
  k8s/apps/diag/whoami/envs/prod/svc.yaml
  k8s/apps/diag/whoami/envs/rebuild/deployment.yaml
  k8s/apps/diag/whoami/envs/rebuild/kustomization.yaml
  k8s/apps/diag/whoami/envs/rebuild/svc.yaml
  k8s/apps/diag/whoami/envs/src/deployment.yaml
  k8s/apps/diag/whoami/envs/src/kustomization.yaml
  k8s/apps/diag/whoami/envs/src/svc.yaml
Labels: env:head, env:src, env:poc, env:rebuild, env:prod

feat(gateway): update gateway API to version 1.2.1
  k8s/core/network/gateway/base/kustomization.yaml
Labels: env:base

feat(vehagn-k8s): enable 2nd worker
  terragrunt/non-prod/eu-central-1/dbg/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/head/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/poc/talos-proxmox/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/src/vehagn-k8s/terragrunt.hcl
Labels: env:head, env:src, env:poc

feat(vehagn-k8s): reduce work RAM from 2048MB to 1024MB
  terragrunt/_envcommon/vehagn-k8s.hcl
Labels: none

chore: Remove and ignore .terraform.lock.hcl files across non-prod environments
  .gitignore
  terragrunt/non-prod/eu-central-1/dbg/vehagn-k8s/.terraform.lock.hcl
  terragrunt/non-prod/eu-central-1/dev/vehagn-k8s/.terraform.lock.hcl
  terragrunt/non-prod/eu-central-1/head/vehagn-k8s/.terraform.lock.hcl
  terragrunt/non-prod/eu-central-1/poc/vehagn-k8s/.terraform.lock.hcl
  terragrunt/non-prod/eu-central-1/qa/vehagn-k8s/.terraform.lock.hcl
  terragrunt/non-prod/eu-central-1/rebuild/vehagn-k8s/.terraform.lock.hcl
  terragrunt/non-prod/eu-central-1/src/vehagn-k8s/.terraform.lock.hcl
Labels: env:head, env:qa, env:dev, env:src, env:poc, env:rebuild

feat(vehagn-k8s): set cluster name to use project name variable ("homelab")
  terragrunt/README.md
  terragrunt/non-prod/eu-central-1/dbg/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/dev/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/head/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/poc/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/qa/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/rebuild/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/src/vehagn-k8s/terragrunt.hcl
  terragrunt/prod/eu-central-1/prod/vehagn-k8s/terragrunt.hcl
Labels: env:head, env:qa, env:dev, env:src, env:poc, env:rebuild, env:prod

feat(env/prod): add initial Terragrunt configuration for state lock file
  terragrunt/prod/account.hcl
  terragrunt/prod/eu-central-1/prod/.envrc
  terragrunt/prod/eu-central-1/prod/tf-state-read-role/.terraform.lock.hcl
  terragrunt/prod/eu-central-1/prod/tf-state-read-role/terragrunt.hcl
Labels: env:prod

feat(vehagn-k8s): update module to v4.0.0 and add on_boot variable
  terragrunt/non-prod/eu-central-1/dbg/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/dev/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/head/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/poc/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/qa/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/rebuild/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/src/vehagn-k8s/terragrunt.hcl
  terragrunt/prod/eu-central-1/prod/vehagn-k8s/.terraform.lock.hcl
  terragrunt/prod/eu-central-1/prod/vehagn-k8s/terragrunt.hcl
Labels: env:head, env:qa, env:dev, env:src, env:poc, env:rebuild, env:prod

feat(vehagn-k8s): update Talos version to v1.10.7 across all environments
  terragrunt/non-prod/eu-central-1/dbg/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/dev/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/head/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/poc/talos-proxmox/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/poc/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/qa/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/rebuild/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/src/vehagn-k8s/terragrunt.hcl
  terragrunt/prod/eu-central-1/prod/vehagn-k8s/terragrunt.hcl
Labels: env:head, env:qa, env:dev, env:src, env:poc, env:rebuild, env:prod

fix: add quotes in .envrc files
  terragrunt/non-prod/eu-central-1/dbg/.envrc
  terragrunt/non-prod/eu-central-1/dev/.envrc
  terragrunt/non-prod/eu-central-1/head/.envrc
  terragrunt/non-prod/eu-central-1/poc/.envrc
  terragrunt/non-prod/eu-central-1/qa/.envrc
  terragrunt/non-prod/eu-central-1/src/.envrc
Labels: env:head, env:qa, env:dev, env:src, env:poc

Revert "feat(vehagn-k8s): reduce work RAM from 2048MB to 1024MB"
  terragrunt/_envcommon/vehagn-k8s.hcl
Labels: none

fix(poc/vehagn-k8s): set ctrl-02 instead of ctrl-03 as 2nd control plane
  terragrunt/non-prod/eu-central-1/poc/vehagn-k8s/terragrunt.hcl
Labels: env:poc

fix(kustomize)!: remove name prefix for resource names in head and src environments
  k8s/_components/head/kustomization.yaml
  k8s/_components/src/kustomization.yaml
Labels: none

feat(unifi): major update MongoDB to 8.0 and UniFi to 9.3
  k8s/apps/network/unifi-controller/base/assets/init-mongo.sh
  k8s/apps/network/unifi-controller/base/deployment-db.yaml
  k8s/apps/network/unifi-controller/base/deployment-frontend.yaml
  k8s/apps/network/unifi-controller/envs/dev/deployment-db.yaml
  k8s/apps/network/unifi-controller/envs/dev/deployment-frontend.yaml
  k8s/apps/network/unifi-controller/envs/qa/deployment-db.yaml
  k8s/apps/network/unifi-controller/envs/qa/kustomization.yaml
Labels: env:base, env:qa, env:dev

fix(MongoDB): increase MongoDB volume size to 800M
  terragrunt/non-prod/eu-central-1/dbg/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/dev/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/head/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/poc/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/qa/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/rebuild/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/src/vehagn-k8s/terragrunt.hcl
  terragrunt/prod/eu-central-1/prod/vehagn-k8s/terragrunt.hcl
Labels: env:head, env:qa, env:dev, env:src, env:poc, env:rebuild, env:prod

feat(unifi): move SealedSecret to base
  k8s/apps/network/unifi-controller/base/db-secret.sealed.yaml
  k8s/apps/network/unifi-controller/base/deployment-db.yaml
  k8s/apps/network/unifi-controller/base/deployment-frontend.yaml
  k8s/apps/network/unifi-controller/base/kustomization.yaml
  k8s/apps/network/unifi-controller/envs/dev/db-secret.sealed.yaml
  k8s/apps/network/unifi-controller/envs/dev/deployment-db.yaml
  k8s/apps/network/unifi-controller/envs/dev/deployment-frontend.yaml
  k8s/apps/network/unifi-controller/envs/dev/kustomization.yaml
Labels: env:base, env:dev

feat(unifi): enabled for remaining env.s
  k8s/apps/network/unifi-controller/envs/head/deployment-db.yaml
  k8s/apps/network/unifi-controller/envs/head/deployment-frontend.yaml
  k8s/apps/network/unifi-controller/envs/head/kustomization.yaml
  k8s/apps/network/unifi-controller/envs/head/svc-frontend.yaml
  k8s/apps/network/unifi-controller/envs/poc/kustomization.yaml
  k8s/apps/network/unifi-controller/envs/poc/svc-frontend.yaml
  k8s/apps/network/unifi-controller/envs/prod/kustomization.yaml
  k8s/apps/network/unifi-controller/envs/prod/svc-frontend.yaml
  k8s/apps/network/unifi-controller/envs/rebuild/kustomization.yaml
  k8s/apps/network/unifi-controller/envs/rebuild/svc-frontend.yaml
  k8s/apps/network/unifi-controller/envs/src/kustomization.yaml
  k8s/apps/network/unifi-controller/envs/src/svc-frontend.yaml
Labels: env:head, env:src, env:poc, env:rebuild, env:prod

feat(unifi): major update MongoDB to 8.0 and UniFi to 9.3
  k8s/apps/network/unifi-controller/base/assets/init-mongo.sh
  k8s/apps/network/unifi-controller/base/deployment-db.yaml
  k8s/apps/network/unifi-controller/base/deployment-frontend.yaml
  k8s/apps/network/unifi-controller/envs/dev/deployment-db.yaml
  k8s/apps/network/unifi-controller/envs/dev/deployment-frontend.yaml
  k8s/apps/network/unifi-controller/envs/qa/deployment-db.yaml
  k8s/apps/network/unifi-controller/envs/qa/kustomization.yaml
Labels: env:base, env:qa, env:dev

feat(unifi): enabled for remaining env.s
  k8s/apps/network/unifi-controller/envs/head/deployment-db.yaml
  k8s/apps/network/unifi-controller/envs/head/deployment-frontend.yaml
  k8s/apps/network/unifi-controller/envs/head/kustomization.yaml
  k8s/apps/network/unifi-controller/envs/head/svc-frontend.yaml
  k8s/apps/network/unifi-controller/envs/poc/kustomization.yaml
  k8s/apps/network/unifi-controller/envs/poc/svc-frontend.yaml
  k8s/apps/network/unifi-controller/envs/prod/kustomization.yaml
  k8s/apps/network/unifi-controller/envs/prod/svc-frontend.yaml
  k8s/apps/network/unifi-controller/envs/rebuild/kustomization.yaml
  k8s/apps/network/unifi-controller/envs/rebuild/svc-frontend.yaml
  k8s/apps/network/unifi-controller/envs/src/kustomization.yaml
  k8s/apps/network/unifi-controller/envs/src/svc-frontend.yaml
Labels: env:head, env:src, env:poc, env:rebuild, env:prod

fix(MongoDB): increase MongoDB volume size to 800M
  terragrunt/non-prod/eu-central-1/dbg/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/dev/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/head/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/poc/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/qa/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/rebuild/vehagn-k8s/terragrunt.hcl
  terragrunt/non-prod/eu-central-1/src/vehagn-k8s/terragrunt.hcl
  terragrunt/prod/eu-central-1/prod/vehagn-k8s/terragrunt.hcl
Labels: env:head, env:qa, env:dev, env:src, env:poc, env:rebuild, env:prod

feat(unifi): move SealedSecret to base
  k8s/apps/network/unifi-controller/base/db-secret.sealed.yaml
  k8s/apps/network/unifi-controller/base/deployment-db.yaml
  k8s/apps/network/unifi-controller/base/deployment-frontend.yaml
  k8s/apps/network/unifi-controller/base/kustomization.yaml
  k8s/apps/network/unifi-controller/envs/dev/db-secret.sealed.yaml
  k8s/apps/network/unifi-controller/envs/dev/deployment-db.yaml
  k8s/apps/network/unifi-controller/envs/dev/deployment-frontend.yaml
  k8s/apps/network/unifi-controller/envs/dev/kustomization.yaml
Labels: env:base, env:dev

fix(prod/unifi): increased DB to 1024 MB
  terragrunt/prod/eu-central-1/prod/vehagn-k8s/terragrunt.hcl
Labels: env:prod

docs(INSTALL): added initial install logs
  docs/logs/INSTALL.log.prod.md
  docs/logs/INSTALL.log.qa.md
Labels: none

feat(k8s): k8s upgrade script using talosctl
  scripts/upgrade-k8s.sh
Labels: none
